# Dataset
dataset_1/
src/data/processed/
yolo_dataset/

# Model weights
*.keras
*.h5
*.pt

# Results
models/cnn/test_results/
results/
inference/
inference00/
unet_predictions/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# OS
.DS_Store
Thumbs.db


*.png
*.xlsx
yolov5/

*.md

*.pdf

*.tex

papers/


app-old.py