# Dataset
*.zip
dataset_1/
dataset_2/
src/data/processed/
yolo_dataset/
merged-dataset/


# Model weights
*.keras
*.h5
*.pt

# Results
models-d1/cnn/test_results/
results-d1/
inference/
inference00/
unet_predictions/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# OS
.DS_Store
Thumbs.db


*.png
*.xlsx
yolov5/

*.md

*.pdf

*.tex

papers/


app-old.py

LaTeX2e+Proceedings+Templates+download/

*.txt

zzz/