# Dataset
*.zip
dataset_1/
dataset_2/
dataset_3/
dataset_4/
src/data/processed-d1/
src/data/processed-d3/
src/data/processed-d4/

# Model weights
*.keras
*.h5
*.pt

# Results
models-d1-rgb/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# OS
.DS_Store
Thumbs.db





zzz/


*.png
*.xlsx
yolov5/

*.md

*.pdf

*.tex



app-old.py


*.txt

domain-check-claude.py
domain-check-gpt1.py